# see https://www.consul.io/commands#consul_http_addr
CONSUL_HTTP_ADDR = "..."

# see https://www.consul.io/commands#consul_http_token
CONSUL_TOKEN = "..."

# see https://www.vaultproject.io/docs/commands#vault_addr
VAULT_ADDR = "..."

# see https://www.vaultproject.io/docs/commands#vault_token
VAULT_TOKEN = "..."

# see https://www.vaultproject.io/docs/commands#vault_namespace
VAULT_NAMESPACE = "..."
