### Packer ###
packer_cache/
*.log

### Packer (user-generated) ###
credentials.auto.pkrvars.hcl
generated.auto.pkrvars.hcl

### Terraform ###
.terraform/
*.tfstate
*.tfstate.backup
*.terraform.tfstate.lock.info

### Vagrant ###
.vagrant/
vagrant-*/
*.box
