### Terraform ###
.terraform/
*.tfstate
*.tfstate.backup
*.terraform.tfstate.lock.info

### Packer ###
packer_cache/
crash.log
output-*/

### Packer (user-generated) ###
aws-credentials.auto.pkrvars.hcl
aws-terraform-generated.auto.pkrvars.hcl
azure-credentials.auto.pkrvars.hcl
azure-terraform-generated.auto.pkrvars.hcl
google-credentials.auto.pkrvars.hcl
google-terraform-generated.auto.pkrvars.hcl
