### Ansible ###
*.retry

### Packer ###
packer_cache/
*.log
output-*
credentials.auto.pkrvars.hcl

### Packer (user-generated) ###
generated/*
generated.auto.pkrvars.hcl

### Terraform ###
.terraform/
*.tfstate
*.tfstate.backup
*.terraform.tfstate.lock.info
terraform.tfvars

### Vagrant ###
.vagrant/
*.box
