Information generated on {{ template_run_date }}

{% if toggles.enable_hashicorp and toggles.hashicorp.install_packages %}
## HashiCorp Packages:

{% for item in packages.hashicorp %}
{% if toggles.hashicorp_enabled[item.name] %}
  * {{ item.name }} v{{ item.version}}
{% endif %}
{% endfor -%}
{% endif %}

{% if toggles.enable_hashicorp and toggles.hashicorp.install_nomad_plugins %}
### HashiCorp Nomad Plugins:

{% for item in packages.hashicorp_nomad_plugins %}
  * {{ item.name }} v{{ item.version}}
{% endfor -%}
{% endif %}

{% if toggles.enable_docker and toggles.docker.install_packages %}

## Docker Packages:

{% for item in packages.docker %}
  * {{ item.name }} v{{ item.version}}
{% endfor -%}
{% endif %}

{% if toggles.enable_podman and toggles.podman.install_packages %}

## Podman packages:

{% for item in packages.podman %}
  * {{ item.name }} v{{ item.version}}
{% endfor -%}
{% endif %}
