File generated on {{ template_run_date }}

{% if toggles.hashicorp.install_packages %}
## HashiCorp package information:

{% for item in packages.hashicorp %}
{% if toggles.hashicorp_enabled[item.name] %}
  * {{ item.name }} v{{ item.version}}
{% endif %}
{% endfor -%}
{% endif %}

{% if toggles.hashicorp.install_nomad_plugins %}
### HashiCorp Nomad plugin information:

{% for item in packages.hashicorp_nomad_plugins %}
  * {{ item.name }} v{{ item.version}}
{% endfor -%}
{% endif %}

{% if toggles.docker.install_packages %}

## Docker packages:

{% for item in packages.docker %}
{% if toggles.docker.install_packages %}
  * {{ item.name }} v{{ item.version}}
{% endif %}
{% endfor -%}
{% endif %}

{% if toggles.podman.install_packages %}

## Podman packages:

{% for item in packages.podman %}
{% if toggles.podman.install_packages %}
  * {{ item.name }} v{{ item.version}}
{% endif %}
{% endfor -%}
{% endif %}
