[Unit]
Description="HashiCorp Nomad"
Documentation=https://nomadproject.io/docs/
Requires=network-online.target
After=network-online.target

[Service]
# TODO: create Nomad-specific user and group
User=root
Group=root
ExecStart=/usr/bin/nomad agent -config="/etc/nomad"
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=default.target
